* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.counter-container {
  /* border: 1px solid red; */
}
.counter-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40rem;
  margin: 2rem auto;
  padding: 1rem;
  box-shadow: 0px 0px 5px #888888;
  border-radius: 0.5rem;
}
.counter-content h1 {
  margin: 1rem 0;
  font-size: 3rem;
  letter-spacing: 2px;
}
.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.btn-container button {
  padding: 1rem;
  cursor: pointer;
  border: transparent;
  border-radius: 0.2rem;
}

article {
  box-shadow: 0px 0px 5px #888888;
  width: 20rem;
  padding: 2rem 1rem;
  border-radius: 0.2rem;
  margin: 0 auto;
  background-color: rgb(5, 228, 135);
}
article h1 {
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
article h3 {
  margin: 3rem 0 0 0;
}
.card-wrapper {
  margin: 2rem 2rem;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  gap: 1rem;
}
